<html>
    <head>
        <link rel="stylesheet" href="static/css/styles.css">
        <div class="nav-bar">        
            <div class="nav-item">Home</div>
            <div class="nav-item">Gallery</div>
            <div class="nav-item">Donate</div>
            <div class="nav-item">Volunteering</div>
            <div class="nav-item">Celebrate</div>
        </div>

    </head>
    <body class="background">
        <h1 class="quote">
            "No one has ever become poor from giving"
        </h1>

        
    </body>
</html>