.nav-bar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    padding: 10px;
}

.nav-item {
  padding: 20px;
    font-size: 30px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 150%;
    text-align: center;
    font-weight: bold
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}


.background{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 24px; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    background-size: cover;
    opacity: 150%;
    height: 100vh;
    padding:0;
    margin:0;

}

.quote{
  position: absolute;
  bottom: 3%;
  right: 0; 
  color: black;
}

a, a:visited, a:active {
  text-decoration: none;
  color: white;
}

a:hover {
  color:lightgrey;
  font-weight: bold;
}

.information-container {
  display: flex;
  align-items: center;
}

.information-image {
  flex: 1;
  max-width: 50%; /* Set the maximum width to half of the container */
}

.information-content {
  flex: 1;
  max-width: 50%; /* Set the maximum width to half of the container */
  padding: 20px; /* Add padding for better spacing */
}

.information-container-reverse {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
}

/* Style for the content on the left side */
.information-container-reverse .content {
  max-width: 50%; /* Set maximum width to 50% of the container */
}

/* Style for the image on the right side */
.information-container-reverse img {
  max-width: 50%; /* Set maximum width to 50% of the container */
  margin-left: 20px; /* Add some space between the content and the image */
}

footer {
  width: 100%; /* or set a specific width like width: 80%; */
  background-color:black;
  color:grey;
  font-size: medium;
  text-align: center;
  padding: 1px;
  margin-bottom: 0%;
}